# Segmenting and Clustering Neighborhoods in Toronto

## Data Mining

Decription how to mine the data on Wikipedia page. Building the code to scrape the Wikipedia page. Writing the data into the DataFrame.

### Scraping

* __Use the Notebook to build the code to scrape the following [Wikipedia page](https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M "List of postal codes of Canada: M").__

Loading necessary libraries. Except <code>pandas</code>, both <code>request</code> and <code>lxml</code> need installation.

In [434]:
import pandas as pd
#import numpy as np



try:
    import requests
except ModuleNotFoundError:
    ! conda install requests
finally:
    import requests
    
try:
    import lxml.html as lh
except ModuleNotFoundError:
    ! conda install lxml
finally:
    from lxml import html as lh

The code below allows us to get the data from the table from the [Wikipedia page](https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M "List of postal codes of Canada: M").

In [435]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'



# Create a handle, page, to handle the contents of the website.
page = requests.get(url)

# Store the contents of the website under doc.
doc = lh.fromstring(page.content)

# Parse data that are stored between <tr>..</tr> of HTML.
tr_elements = doc.xpath('//tr')

Check the length of the first 12 rows.

In [436]:
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

Looks like all our rows have exactly 3 columns. This means all the data collected on <code>tr_elements</code> are from the table. Next, parse the first row as our header.

In [437]:
# Create empty list.
col=[]
i=0
# For each row, store each first element (header) and an empty list.
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    col.append((name,[]))

Each header is appended to a tuple along with an empty list.

In [438]:
# Since out first row is the header, data is stored on the second row onwards.
for j, _ in enumerate(tr_elements, 1):
    #T is our j'th row
    T=tr_elements[j]
    print(T.text_content())
    
    # If row is not of size 10, the //tr data is not from our table. 
    if len(T)!=3:
        break
    
    # i is the index of our column.
    i=0
    
    # Iterate through each element of the row.
    for t in T.iterchildren():
        data=t.text_content() 
        # Check if row is empty.
        if i>0:
        # Convert any numerical value to integers.
            try:
                data=int(data)
            except:
                pass
        # Append the data to the empty list of the i'th column.
        col[i][1].append(data)
        # Increment i for the next column.
        i+=1

M1A
Not assigned
Not assigned


M2A
Not assigned
Not assigned


M3A
North York
Parkwoods


M4A
North York
Victoria Village


M5A
Downtown Toronto
Harbourfront


M6A
North York
Lawrence Heights


M6A
North York
Lawrence Manor


M7A
Downtown Toronto
Queen's Park


M8A
Not assigned
Not assigned


M9A
Queen's Park
Not assigned


M1B
Scarborough
Rouge


M1B
Scarborough
Malvern


M2B
Not assigned
Not assigned


M3B
North York
Don Mills North


M4B
East York
Woodbine Gardens


M4B
East York
Parkview Hill


M5B
Downtown Toronto
Ryerson


M5B
Downtown Toronto
Garden District


M6B
North York
Glencairn


M7B
Not assigned
Not assigned


M8B
Not assigned
Not assigned


M9B
Etobicoke
Cloverdale


M9B
Etobicoke
Islington


M9B
Etobicoke
Martin Grove


M9B
Etobicoke
Princess Gardens


M9B
Etobicoke
West Deane Park


M1C
Scarborough
Highland Creek


M1C
Scarborough
Rouge Hill


M1C
Scarborough
Port Union


M2C
Not assigned
Not assigned


M3C
North York
Flemingdon Park


M3C
North York
Don Mills South


M4C
East York
Woodbine Heights


M5C
Downtown Toronto
St. James Town


M6C
York
Humewood-Cedarvale


M7C
Not assigned
Not assigned


M8C
Not assigned
Not assigned


M9C
Etobicoke
Bloordale Gardens


M9C
Etobicoke
Eringate


M9C
Etobicoke
Markland Wood


M9C
Etobicoke
Old Burnhamthorpe


M1E
Scarborough
Guildwood


M1E
Scarborough
Morningside


M1E
Scarborough
West Hill


M2E
Not assigned
Not assigned


M3E
Not assigned
Not assigned


M4E
East Toronto
The Beaches


M5E
Downtown Toronto
Berczy Park


M6E
York
Caledonia-Fairbanks


M7E
Not assigned
Not assigned


M8E
Not assigned
Not assigned


M9E
Not assigned
Not assigned


M1G
Scarborough
Woburn


M2G
Not assigned
Not assigned


M3G
Not assigned
Not assigned


M4G
East York
Leaside


M5G
Downtown Toronto
Central Bay Street


M6G
Downtown Toronto
Christie


M7G
Not assigned
Not assigned


M8G
Not assigned
Not assigned


M9G
Not assigned
Not assigned


M1H
Scarborough
Cedarbrae


M2H
North York
Hillcrest Village


M3H
North York
Bathurst Manor


M3H
North York
Downsview North


M3H
North York
Wilson Heights


M4H
East York
Thorncliffe Park


M5H
Downtown Toronto
Adelaide


M5H
Downtown Toronto
King


M5H
Downtown Toronto
Richmond


M6H
West Toronto
Dovercourt Village


M6H
West Toronto
Dufferin


M7H
Not assigned
Not assigned


M8H
Not assigned
Not assigned


M9H
Not assigned
Not assigned


M1J
Scarborough
Scarborough Village


M2J
North York
Fairview


M2J
North York
Henry Farm


M2J
North York
Oriole


M3J
North York
Northwood Park


M3J
North York
York University


M4J
East York
East Toronto


M5J
Downtown Toronto
Harbourfront East


M5J
Downtown Toronto
Toronto Islands


M5J
Downtown Toronto
Union Station


M6J
West Toronto
Little Portugal


M6J
West Toronto
Trinity


M7J
Not assigned
Not assigned


M8J
Not assigned
Not assigned


M9J
Not assigned
Not assigned


M1K
Scarborough
East Birchmount Park


M1K
Scarborough
Ionview


M1K
Scarborough
Kennedy Park


M2K
North York
Bayview Village


M3K
North York
CFB Toronto


M3K
North York
Downsview East


M4K
East Toronto
The Danforth West


M4K
East Toronto
Riverdale


M5K
Downtown Toronto
Design Exchange


M5K
Downtown Toronto
Toronto Dominion Centre


M6K
West Toronto
Brockton


M6K
West Toronto
Exhibition Place


M6K
West Toronto
Parkdale Village


M7K
Not assigned
Not assigned


M8K
Not assigned
Not assigned


M9K
Not assigned
Not assigned


M1L
Scarborough
Clairlea


M1L
Scarborough
Golden Mile


M1L
Scarborough
Oakridge


M2L
North York
Silver Hills


M2L
North York
York Mills


M3L
North York
Downsview West


M4L
East Toronto
The Beaches West


M4L
East Toronto
India Bazaar


M5L
Downtown Toronto
Commerce Court


M5L
Downtown Toronto
Victoria Hotel


M6L
North York
Downsview


M6L
North York
North Park


M6L
North York
Upwood Park


M7L
Not assigned
Not assigned


M8L
Not assigned
Not assigned


M9L
North York
Humber Summit


M1M
Scarborough
Cliffcrest


M1M
Scarborough
Cliffside


M1M
Scarborough
Scarborough Village West


M2M
North York
Newtonbrook


M2M
North York
Willowdale


M3M
North York
Downsview Central


M4M
East Toronto
Studio District


M5M
North York
Bedford Park


M5M
North York
Lawrence Manor East


M6M
York
Del Ray


M6M
York
Keelesdale


M6M
York
Mount Dennis


M6M
York
Silverthorn


M7M
Not assigned
Not assigned


M8M
Not assigned
Not assigned


M9M
North York
Emery


M9M
North York
Humberlea


M1N
Scarborough
Birch Cliff


M1N
Scarborough
Cliffside West


M2N
North York
Willowdale South


M3N
North York
Downsview Northwest


M4N
Central Toronto
Lawrence Park


M5N
Central Toronto
Roselawn


M6N
York
The Junction North


M6N
York
Runnymede


M7N
Not assigned
Not assigned


M8N
Not assigned
Not assigned


M9N
York
Weston


M1P
Scarborough
Dorset Park


M1P
Scarborough
Scarborough Town Centre


M1P
Scarborough
Wexford Heights


M2P
North York
York Mills West


M3P
Not assigned
Not assigned


M4P
Central Toronto
Davisville North


M5P
Central Toronto
Forest Hill North


M5P
Central Toronto
Forest Hill West


M6P
West Toronto
High Park


M6P
West Toronto
The Junction South


M7P
Not assigned
Not assigned


M8P
Not assigned
Not assigned


M9P
Etobicoke
Westmount


M1R
Scarborough
Maryvale


M1R
Scarborough
Wexford


M2R
North York
Willowdale West


M3R
Not assigned
Not assigned


M4R
Central Toronto
North Toronto West


M5R
Central Toronto
The Annex


M5R
Central Toronto
North Midtown


M5R
Central Toronto
Yorkville


M6R
West Toronto
Parkdale


M6R
West Toronto
Roncesvalles


M7R
Mississauga
Canada Post Gateway Processing Centre


M8R
Not assigned
Not assigned


M9R
Etobicoke
Kingsview Village


M9R
Etobicoke
Martin Grove Gardens


M9R
Etobicoke
Richview Gardens


M9R
Etobicoke
St. Phillips


M1S
Scarborough
Agincourt


M2S
Not assigned
Not assigned


M3S
Not assigned
Not assigned


M4S
Central Toronto
Davisville


M5S
Downtown Toronto
Harbord


M5S
Downtown Toronto
University of Toronto


M6S
West Toronto
Runnymede


M6S
West Toronto
Swansea


M7S
Not assigned
Not assigned


M8S
Not assigned
Not assigned


M9S
Not assigned
Not assigned


M1T
Scarborough
Clarks Corners


M1T
Scarborough
Sullivan


M1T
Scarborough
Tam O'Shanter


M2T
Not assigned
Not assigned


M3T
Not assigned
Not assigned


M4T
Central Toronto
Moore Park


M4T
Central Toronto
Summerhill East


M5T
Downtown Toronto
Chinatown


M5T
Downtown Toronto
Grange Park


M5T
Downtown Toronto
Kensington Market


M6T
Not assigned
Not assigned


M7T
Not assigned
Not assigned


M8T
Not assigned
Not assigned


M9T
Not assigned
Not assigned


M1V
Scarborough
Agincourt North


M1V
Scarborough
L'Amoreaux East


M1V
Scarborough
Milliken


M1V
Scarborough
Steeles East


M2V
Not assigned
Not assigned


M3V
Not assigned
Not assigned


M4V
Central Toronto
Deer Park


M4V
Central Toronto
Forest Hill SE


M4V
Central Toronto
Rathnelly


M4V
Central Toronto
South Hill


M4V
Central Toronto
Summerhill West


M5V
Downtown Toronto
CN Tower


M5V
Downtown Toronto
Bathurst Quay


M5V
Downtown Toronto
Island airport


M5V
Downtown Toronto
Harbourfront West


M5V
Downtown Toronto
King and Spadina


M5V
Downtown Toronto
Railway Lands


M5V
Downtown Toronto
South Niagara


M6V
Not assigned
Not assigned


M7V
Not assigned
Not assigned


M8V
Etobicoke
Humber Bay Shores


M8V
Etobicoke
Mimico South


M8V
Etobicoke
New Toronto


M9V
Etobicoke
Albion Gardens


M9V
Etobicoke
Beaumond Heights


M9V
Etobicoke
Humbergate


M9V
Etobicoke
Jamestown


M9V
Etobicoke
Mount Olive


M9V
Etobicoke
Silverstone


M9V
Etobicoke
South Steeles


M9V
Etobicoke
Thistletown


M1W
Scarborough
L'Amoreaux West


M2W
Not assigned
Not assigned


M3W
Not assigned
Not assigned


M4W
Downtown Toronto
Rosedale


M5W
Downtown Toronto
Stn A PO Boxes 25 The Esplanade


M6W
Not assigned
Not assigned


M7W
Not assigned
Not assigned


M8W
Etobicoke
Alderwood


M8W
Etobicoke
Long Branch


M9W
Etobicoke
Northwest


M1X
Scarborough
Upper Rouge


M2X
Not assigned
Not assigned


M3X
Not assigned
Not assigned


M4X
Downtown Toronto
Cabbagetown


M4X
Downtown Toronto
St. James Town


M5X
Downtown Toronto
First Canadian Place


M5X
Downtown Toronto
Underground city


M6X
Not assigned
Not assigned


M7X
Not assigned
Not assigned


M8X
Etobicoke
The Kingsway


M8X
Etobicoke
Montgomery Road


M8X
Etobicoke
Old Mill North


M9X
Not assigned
Not assigned


M1Y
Not assigned
Not assigned


M2Y
Not assigned
Not assigned


M3Y
Not assigned
Not assigned


M4Y
Downtown Toronto
Church and Wellesley


M5Y
Not assigned
Not assigned


M6Y
Not assigned
Not assigned


M7Y
East Toronto
Business Reply Mail Processing Centre 969 Eastern


M8Y
Etobicoke
Humber Bay


M8Y
Etobicoke
King's Mill Park


M8Y
Etobicoke
Kingsway Park South East


M8Y
Etobicoke
Mimico NE


M8Y
Etobicoke
Old Mill South


M8Y
Etobicoke
The Queensway East


M8Y
Etobicoke
Royal York South East


M8Y
Etobicoke
Sunnylea


M9Y
Not assigned
Not assigned


M1Z
Not assigned
Not assigned


M2Z
Not assigned
Not assigned


M3Z
Not assigned
Not assigned


M4Z
Not assigned
Not assigned


M5Z
Not assigned
Not assigned


M6Z
Not assigned
Not assigned


M7Z
Not assigned
Not assigned


M8Z
Etobicoke
Kingsway Park South West


M8Z
Etobicoke
Mimico NW


M8Z
Etobicoke
The Queensway West


M8Z
Etobicoke
Royal York South West


M8Z
Etobicoke
South of Bloor


M9Z
Not assigned
Not assigned

Scraping is complited.

### Data Cleaning

Forming the DataFrame from scraped data. Examining data to find out: excess sysmbols, missing data or something else in string data of DataDrame.
Changing headers if it is necessary and ect.

* __The dataframe will consist of three columns: <span style="color:red">'PostalCode'</span>, <span style="color:red">'Borough'</span>, and <span style="color:red">'Neighborhood'</span>__

Examining number of columns and length of each column.

In [439]:
print(len(col), [len(C) for (title,C) in col])

3 [287, 287, 287]

Creating DataFrame.

In [440]:
dictionary={title:column for (title,column) in col}
df=pd.DataFrame(dictionary)

df.head(10)

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n
5      M6A        North York  Lawrence Heights\n
6      M6A        North York    Lawrence Manor\n
7      M7A  Downtown Toronto      Queen's Park\n
8      M8A      Not assigned      Not assigned\n
9      M9A      Queen's Park      Not assigned\n

In [441]:
df.tail()

    Postcode       Borough          Neighbourhood\n
282      M8Z     Etobicoke              Mimico NW\n
283      M8Z     Etobicoke     The Queensway West\n
284      M8Z     Etobicoke  Royal York South West\n
285      M8Z     Etobicoke         South of Bloor\n
286      M9Z  Not assigned           Not assigned\n

Renaming column <span style="color:red">'Postcode'</span> to <span style="color:red">'PostalCode'</span>.

In [442]:
df.rename(columns={'Postcode': 'PostalCode', 'Neighbourhood\n': 'Neighbourhood'}, inplace=True)
df.head()

  PostalCode           Borough       Neighbourhood
0        M1A      Not assigned      Not assigned\n
1        M2A      Not assigned      Not assigned\n
2        M3A        North York         Parkwoods\n
3        M4A        North York  Victoria Village\n
4        M5A  Downtown Toronto      Harbourfront\n

Check if the all names in the column <span style="color:red">'Neighbourhood'</span> have a 'dirty' tail like as <span style="color:red">'\n'</span>.

In [443]:
len(pd.unique(df['Neighbourhood'].apply(lambda s: s[-1:])))

1

Yes. Each of them have identical "tin can tied to them legs". Since we found out it, we can apply very simple rule to cut off this "tin can".

In [444]:
df['Neighbourhood'] = df.Neighbourhood.apply(lambda s: s[:-1])
df.head()

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

Now, DataFrame is consist of three columns: <span style="color:red">'PostalCode'</span>, <span style="color:red">'Borough'</span>, and <span style="color:red">'Neighborhood'</span>.

* __Only process the cells that have an assigned <span style="color:red">'Borough'</span>. Ignore cells with a <span style="color:red">'Borough'</span> that is 'Not assigned'.__

Leave rows which have no missing data in <span style="color:red">'Borough'</span> column.

In [445]:
df = df[df['Borough'] != 'Not assigned']
df.head()

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

Reset the indexes. They must be started from 0.

In [446]:
df.reset_index(inplace=True, drop=True)
df.head()

  PostalCode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M6A        North York  Lawrence Heights
4        M6A        North York    Lawrence Manor

* __If a cell has a <span style="color:red">'Borough'</span> but a 'Not assigned' <span style="color:red">'Neighbourhood'</span>, then the <span style="color:red">'Neighbourhood'</span> content will be the same as the <span style="color:red">'Borough'</span>.__ 

Checking it.

In [447]:
test = df[df['Neighbourhood'] == 'Not assigned']
test.loc[:, 'Neighbourhood'] = test.loc[:, 'Borough']
test.head()

  PostalCode       Borough Neighbourhood
6        M9A  Queen's Park  Queen's Park

Fix it according to instructions.

In [448]:
df[df['Neighbourhood'] == 'Not assigned'] = test.loc[:, :] 
df.head(10)

  PostalCode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M6A        North York  Lawrence Heights
4        M6A        North York    Lawrence Manor
5        M7A  Downtown Toronto      Queen's Park
6        M9A      Queen's Park      Queen's Park
7        M1B       Scarborough             Rouge
8        M1B       Scarborough           Malvern
9        M3B        North York   Don Mills North

* __More than one neighborhood can exist in one postal code area. These names will be combined into one row with the neighborhoods separated with a comma.__

Converting consist of <span style="color:red">'Neighbourhood'</span> column to the <code><span style="color:green">list</span></code> object, then grouping <span style="color:red">'Neighbourhood'</span> by <span style="color:red">'PostalCode'</span> and finally apply <code>sum()</code> for joining the grouped lists all together.

In [449]:
df['Neighbourhood'] = df.Neighbourhood.apply(lambda s: [s])
pc = df[['PostalCode', 'Neighbourhood']]
pc = pc.groupby(['PostalCode']).sum()
pc.head()

                                       Neighbourhood
PostalCode
M1B                                 [Rouge, Malvern]
M1C         [Highland Creek, Rouge Hill, Port Union]
M1E              [Guildwood, Morningside, West Hill]
M1G                                         [Woburn]
M1H                                      [Cedarbrae]

Releasing  the <span style="color:red">'Neighbourhood'</span> content out  of squares.

In [450]:
pc['Neighbourhood'] = pc.Neighbourhood.apply(lambda l: ', '.join(l))
pc.reset_index(inplace=True)
pc.head()

  PostalCode                           Neighbourhood
0        M1B                          Rouge, Malvern
1        M1C  Highland Creek, Rouge Hill, Port Union
2        M1E       Guildwood, Morningside, West Hill
3        M1G                                  Woburn
4        M1H                               Cedarbrae

Check length equality of DataFrames which must be join together.

In [451]:
df.shape == pc.shape

False

Since the <code>.shape</code> of <code>df</code> and <code>pd</code> DataFrames is not the same, there is needs another DataFrame for joining <code>df</code> and <code>pd</code> DataFrames.

Syntezing the DataFrame <code>clear_df</code> from scratch.

In [452]:
clear_df = pd.DataFrame()
clear_df['PostalCode'] = pd.unique(df.PostalCode)
clear_df['Borough'] = False
clear_df['Neighbourhood'] = False
clear_df = clear_df.set_index('PostalCode')
clear_df.head()

            Borough  Neighbourhood
PostalCode
M3A           False          False
M4A           False          False
M5A           False          False
M6A           False          False
M7A           False          False

Loading the data to the <code>clear_df</code> DataFrame.

In [453]:
df['Neighbourhood'] = df.Neighbourhood.apply(lambda s: s[0])
for pcd, b, _ in df.values:
    clear_df.loc[pcd, 'Borough'] = b
for pcd, nb in pc.values:
    clear_df.loc[pcd, 'Neighbourhood'] = nb
clear_df.reset_index().head(12)

,PostalCode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,Harbourfront
3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,M7A,Downtown Toronto,Queen's Park
5,M9A,Queen's Park,Queen's Park
6,M1B,Scarborough,"Rouge, Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens, Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson, Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."

Let ensure that in an original DataFrame <code>df</code> it won't happen that one postal code will the same for two or more different boroughs.

In [454]:
test = clear_df.Borough.apply(lambda l: l.split(','))
test = test.apply(lambda l: len(l))
print('Number of distinct boroughs corresponding to each postal code not greater than {}.'.format(test.max()))

Number of distinct boroughs corresponding to each postal code not greater than 1.

In [455]:
p_codes = ['M5G', 'M2H', 'M4B', 'M1J', 'M4G', 'M4M', 'M1R', 'M9V', 'M9L', 'M5V', 'M1B', 'M5A']
clear_df.loc[p_codes, :].reset_index()

,PostalCode,Borough,Neighbourhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,"Woodbine Gardens, Parkview Hill"
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,"Maryvale, Wexford"
7,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ..."
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,"CN Tower, Bathurst Quay, Island airport, Harbo..."
10,M1B,Scarborough,"Rouge, Malvern"
11,M5A,Downtown Toronto,Harbourfront

It seems I made a mistake: 'M5A' must has two neighborhoods 'Regent Park' and 'Harbourfron', but there is 'Harbourfron' only. What about postal code 
'M5A', how many rows in <code>df</code> are containing it

In [456]:
df[df['PostalCode'] == 'M5A']

  PostalCode           Borough Neighbourhood
2        M5A  Downtown Toronto  Harbourfront

Only one row! It is not my mistake. Let ensure by visit [Wikipedia page](https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M "List of postal codes of Canada: M").

In [457]:
len(df[df['Neighbourhood'] == 'Regent Park'])

0

There is 0 rows which has 'Regent Park' as a neighborhood.

* __In the last cell of your notebook, use the <code>.shape</code> method to print the number of rows of your dataframe.__

In [458]:
clear_df.shape

(103, 2)